:host {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

main {}

.seaction {
    margin-right: 0;
    margin-left: 0;
}

.inputSearch,
.formSearch {
    justify-content: flex-end;
}

.inputSearch {
    position: relative;
    top: 4px;
}